@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaSans-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaSans-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaSans-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaSans-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/fonts/PlusJakartaSans-ExtraBold.woff");
  font-weight: 900;
}

:root,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin: 0 150px;
  font-family: "Plus Jakarta Display", sans-serif;
}

body header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

body header nav .nav__logo {
  color: inherit;
  text-decoration: none;
}

body header nav .nav__logo img {
  height: 40px;
}

body header nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav .nav__links li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

body header nav .nav__links li a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: border 0.1s ease;
  transition: border 0.1s ease;
}

body header nav .nav__links li:hover a {
  border-bottom: 2px solid #000000;
}

body header nav .nav__links li ~ li {
  margin-left: 50px;
}

body header section.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

body header section.hero .hero__text {
  width: 500px;
}

body header section.hero .hero__text .text__intro {
  font-size: 32px;
  font-weight: 700;
  color: #444444;
  margin-bottom: 0;
}

body header section.hero .hero__text .text__title {
  font-size: 78px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 0;
}

body header section.hero .hero__text .text__title span {
  position: relative;
}

body header section.hero .hero__text .text__title span::before {
  position: absolute;
  bottom: 10px;
  content: "";
  width: 100%;
  height: 20px;
  z-index: -1;
  background-color: #ffecc7;
}

body header section.hero .hero__text .text__details {
  font-size: 20px;
  line-height: 1.4;
  margin-top: 40px;
  margin-bottom: 65px;
  color: #444444;
}

body header section.hero .hero__text .btn__cta {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px 45px;
  background-color: #000000;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

body header section.hero .hero__text .btn__cta:hover {
  background-color: #414141;
}

body header section.hero .hero__img {
  background-image: url("../img/img-profile.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 490px;
  width: 490px;
  min-width: 490px;
  margin-top: 20px;
}

body main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  margin-top: 200px;
}

body main .section__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 70px;
  padding-top: 30px;
  display: inline-block;
  position: relative;
}

body main .section__title::before {
  position: absolute;
  bottom: 7px;
  content: "";
  width: 100%;
  height: 12px;
  z-index: -1;
  background-color: #ffecc7;
}

body main section.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 430px;
  width: 100%;
  border-radius: 20px;
  padding-right: 50px;
}

body main section.projects .project .project__img {
  height: 100%;
}

body main section.projects .project .project__info {
  margin-top: 50px;
  margin-right: 30px;
}

body main section.projects .project .project__info .project__title {
  font-size: 24px;
  margin-bottom: 15px;
}

body main section.projects .project .project__info .project__title a {
  text-decoration: none;
  color: inherit;
}

body main section.projects .project .project__info .project__title a:hover {
  text-decoration: underline;
}

body main section.projects .project .project__info .project__techs {
  margin: 10px 0 10px 0;
}

body main section.projects .project .project__info .project__techs .tech {
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #585858;
  display: inline;
  padding: 4px 10px;
  background-color: rgba(209, 209, 209, 0.4);
  border-radius: 4px;
}

body main section.projects .project .project__info .project__techs .tech ~ .tech {
  margin-left: 3px;
}

body main section.projects .project .project__info .project__details {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}

body main section.projects .project .project__info .project__details a {
  color: inherit;
}

body main section.projects .project .project__info .project__links {
  margin-top: 30px;
}

body main section.projects .project .project__info .project__links a {
  text-decoration: none;
}

body main section.projects .project .project__info .project__links a img {
  height: 20px;
  margin-right: 5px;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 7px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

body main section.projects .project .project__info .project__links a:hover img {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body main section.projects .project__01 {
  background-color: #fef8ec;
}

body main section.projects .project__02 {
  background-color: #f0f0f0;
}

body main section.projects .project__03 {
  background-color: #e5edfa;
}

body main section.projects .project ~ .project {
  margin-top: 60px;
}

body main section.resume {
  margin-top: 200px;
}

body main section.resume h3 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
}

body main section.resume h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 0;
}

body main section.resume .resume__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 70px;
}

body main section.resume .resume__content .resume__section {
  grid-column: span 1;
}

body main section.resume .resume__content .resume__section .resume__paragraph {
  margin-top: 30px;
}

body main section.resume .resume__content .resume__section .resume__paragraph .resume__main-link {
  text-decoration: none;
  color: inherit;
}

body main section.resume .resume__content .resume__section .resume__paragraph .resume__main-link h4 {
  display: inline-block;
}

body main section.resume .resume__content .resume__section .resume__paragraph .resume__main-link img {
  height: 16px;
  margin-left: 5px;
}

body main section.resume .resume__content .resume__section .resume__paragraph .resume__main-link:hover h4 {
  text-decoration: underline;
}

body main section.resume .resume__content .resume__section .resume__paragraph .resume__text-bold {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
}

body main section.resume .resume__content .resume__section .resume__paragraph .resume__text-mute {
  margin-top: 5px;
  color: #555555;
}

body main section.resume .resume__content .resume__skills .resume__skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

body main section.resume .resume__content .resume__skills .resume__skills__content .resume__paragraph {
  width: 40%;
  margin: 0;
}

body main section.resume .resume__content .resume__skills .resume__skills__content .resume__paragraph .resume__text-mute {
  margin-bottom: 16px;
}

body main section.contact {
  text-align: center;
  width: 600px;
  margin: 200px auto 200px auto;
}

body main section.contact .section__title {
  margin-bottom: 40px;
}

body main section.contact .contact__text {
  font-size: 24px;
  line-height: 1.5;
}

body main section.contact .contact__links {
  margin-top: 30px;
}

body main section.contact .contact__links .contact__link {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

body main section.contact .contact__links .contact__link p {
  display: inline-block;
}

body main section.contact .contact__links .contact__link img {
  height: 16px;
  margin-left: 2px;
}

body main section.contact .contact__links .contact__link:hover p {
  text-decoration: underline;
}

body main section.contact .contact__links a ~ a {
  margin-left: 30px;
}

body footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  text-align: center;
  margin-bottom: 30px;
  color: #555555;
}

body footer a {
  color: inherit;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */